<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="7ecc41b3-41be-47cf-ae27-109d0b5e740c" name="Unit Tests 2">
  <con:settings id="83aaa0b8-133c-4a28-b33a-3d40905b35fd">
    <con:setting id="4d3cd5b9-5193-4d0c-85d0-0cd87d18863ffileName">Unit-Tests</con:setting>
    <con:setting id="7ecc41b3-41be-47cf-ae27-109d0b5e740cfileName">Unit-Tests-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="e2f56d49-1fee-4eca-8ff9-d44226066985">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
